#grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  background-color: hsl(0, 0%, 40%);
  gap: 5px;
}

.square {
  background-color: white;
  height: 50px;
  width: 50px;
}